@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;

}

.headerTitleLogo{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    
}
.headerTitle{
    text-decoration: none;
    color: white;
}

.headerLogo{
    padding-left: 10px;
}

.headerLinks{
    padding-inline-start: 0px;
    list-style: none;
}

.headerLinks li {
    display: inline-block;
    padding: 0px 15px;
}

.headerLinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.headerLinks li a:hover {
    color: #0DF5E3;
}

.headerAccount{
    padding-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;

}

.headerAccount:hover{
    color: #0DF5E3;
}

.mobile{
    display: none;
}


@media screen and (max-width: 1024px){

    .header{
        padding-right: 10px;
        
    }

    .headerLinks{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 60px;
        right: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding-top:10px ;
        background-image: linear-gradient(0, #382464 0, #2f1e5f 50%, #26185a 100%);        z-index: 900;
        border-radius: 15px;
        z-index: 900;

    }

    .headerLinksHidden{
        display: none;
    }

    .headerLinks li {
        font-size: 1.5rem;
        display: list-item;
        margin-top: 30px;
    }

    .headerAccount{
        margin: 0;
    }

    .mobileIconContainer{
        display: block;
        cursor: pointer;
        height: 25px;
        width: 25px;
    }
    .mobileIcon{
        max-width: 100%;  
        height: auto;  
    }

}